@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ------------------------------------------------------------ */
/* -----------------------NavBar------------------------------- */
/* ------------------------------------------------------------ */

.nav-container {
    display: flex;
    padding: 2em 4em;
    align-items: center;
    background-color: #6126B6;
    justify-content: space-between;
}

.nav-list {
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

.nav-list a {
    color: #ffffff;
    text-decoration: none;
}

.nav-list a:hover {
    color: #66E8FC;
}

.nav-list a::after {
    width: 0%;
    content: "";
    height: 0.1em;
    display: block;
    background-color: #f55a8d;
    transition: width 0.5s ease;
}

.nav-list a:hover::after {
    width: 100%;
}

.btn-container {
    width: 8em;
}

.nav-btn {
    color: #ffffff;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0.6em 1.6em;
    text-decoration: none;
    background-color: #4095E6;
}

.nav-btn:active {
    padding: 0.4em 1.4em;
}

.fa.fa-bars {
    display: none;
}

/* ------------------------------------------------------------ */
/* --------------------SASS-Section---------------------------- */
/* ------------------------------------------------------------ */

.sass {
    gap: 2em;
    padding: 4em;
    display: flex;
    background-color: #6126B6;
    justify-content: space-between;
}

.sass-img {
    width: 50em;
}

.sass-left {
    gap: 3em;
    width: 36em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sass-left h1 {
    color: #ffffff;
    font-weight: 600;
    font-size: 4.2rem;
}

.sass-left p {
    color: #ffffff;
    line-height: 1;
    font-size: 1rem;
}

/* ------------------------------------------------------------ */
/* ---------------------SASS-System---------------------------- */
/* ------------------------------------------------------------ */

.sass-system {
    gap: 2em;
    display: flex;
    padding: 8em 4em;
    align-items: center;
    justify-content: space-between;
}

.sass-system-img {
    width: 50em;
}

.sass-system-right {
    width: 30em;
}

.sass-system-right h3 {
    font-size: 2rem;
    margin-bottom: 2.2em;
}

.list-items {
    list-style-type: none;
}

.list-items li h4 {
    display: inline;
    font-size: 1.4rem;
    margin-left: 0.6em;
}

.list-items li:nth-child(even)  {
    width: 25em;
    line-height: 1.8;
    font-weight: 500;
    font-size: 0.9rem;
    margin: 1em 0em 0em 3.5em;
}

.list-items li:nth-child(odd)  {
    margin: 3em 0em 0em 1em;
}

.orange {
    color: #ffa500;
    font-size: 1.2em;
}

.green {
    color: #008000;
    font-size: 1.2em;
}

.blue {
    font-size: 1.2em;
    color: rgba(57, 57, 255, 0.911);
}

/* ------------------------------------------------------------ */
/* ---------------------SASS-System---------------------------- */
/* ------------------------------------------------------------ */

.footer-heading h3 {
    width: 60vw;
    margin: 0 auto;
    font-size: 2.5rem;
    text-align: center;
}

.cards {
    gap: 3em;
    display: flex;
    padding: 0.5em;
    padding-block: 5em;
    align-items: center;
    justify-content: center;
}

.card {
    gap: 2em;
    width: 13em;
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: 1.4em;
    flex-direction: column;
    justify-content: center;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.301);
}

.card-icon {
    padding: 2em;
    display: flex;
    margin-top: 1em;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.card-icon>img {
    width: 4.5em;
}

.card-icon-1 {
    background-color: #FAEAEB;
}

.card-icon-2 {
    background-color: #FBF0EE;
}

.card-icon-3 {
    background-color: #E9F4F6;
}

.card-icon-4 {
    background-color: #F2E7F5;
}

.card-containt {
    display: flex;
    padding: 0.4em;
    transition: 0.3s;
    align-items: center;
    border-radius: 1.4em;
    flex-direction: column;
    justify-content: center;
}

.card-containt p {
    margin-top: 0.4em;
    font-size: 0.9rem;
    text-align: center;
}

.card:hover .card-containt {
    color: #ffffff;
    background-color: #6126B6;
}

/* ------------------------------------------------------------ */
/* ---------------------Media-Query---------------------------- */
/* ------------------------------------------------------------ */

@media screen and (max-width: 1400px) {
    .sass {
        text-align: center;
        justify-content: center;
        flex-wrap: wrap-reverse;
    }

    .sass-left {
        width: 100%;
    }

    .sass-system {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 1025px) {
    .cards {
        flex-wrap: wrap;
    }

    .nav-list , .btn-container {
        display: none;
    }

    .fa.fa-bars {
        font-size: 3rem;
        display: initial;
    }

    .nav-container {
        padding-inline: 1.5em;
    }
}

@media screen and (max-width: 840px) {
    .sass-img , .sass-system-img {
        width: 100%;
    }
}

@media screen and (max-width: 494px)  {
    .sass-left h1 {
        font-size: 12vw;
    }
    .sass-system {
        padding-top: 2em;
    }

    .sass-system-right h3 {
        font-size: 8vw;
        text-align: center;
    }

    .list-items li h4 {
        font-size: 5vw;
    }
    
    .list-items li:nth-child(even)  {
        font-size: 3vw;
    }

    .footer-heading h3 {
        font-size: 8vw;
    }
}

/* ------------------------------------------------------------ */